@import url('https://fonts.cdnfonts.com/css/itim');
@import url('https://fonts.cdnfonts.com/css/colombia');
@import url('https://fonts.cdnfonts.com/css/mercusuar');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Itim', sans-serif;
    font-weight: 500;
    
}
:root{
    --primary: #F38686;
    --secundary: #F5C89B;
    --secundary-light: #F5E8D3;
    --third:  #FC8A3B; 
    --black: black;
    --white: white;
}
body{
     background-image: linear-gradient( #FFD397 , #FF9A9E);
     overflow-y: hidden;
     overflow-x: hidden;
     
}

/*cabeçalho */

header{
    background-color: var(--secundary-light);
    display: flex;
    height: 3rem;
    width: 100%;
}
 header picture{
    margin-left: 1320px;
    padding: 5px;
    justify-content: right;
 }
 header picture img {
    height: 100%;
}

/*navegação */

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: left;
    position: fixed;
}
header nav ul{
    list-style-type: none;
    display: inline;
    align-items: center;
    height: 100%;
}
header nav ul li{
    padding: 1rem;
    height: 30%;
    align-items: center;
}
header nav ul li a {
    text-decoration: none;
    color: var(--black);
}
header nav ul img{
    width: 2px;
    height: 2px;
    margin-left: 2px;
}

/* Principal */

main{
    min-height: calc(100vh - 6rem);
}

/*index*/

h1 img{
    position: fixed;
    width: 43.583rem;
    height: 8.188rem;
    top: 5rem;
    margin-left: 21rem;
    
}
h3{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 21rem;
    top: 15rem;
}
.linha{
    position: fixed;
    width: 100%;
    height: 0px;
    left: 21rem;
    top: 13rem;

}



/*carreira*/

.linha2{
    position: relative;
    width: 117.563rem;
    height: 0px;
    left: 0px;
    top: 20rem;

}

.texto1{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 20rem;
    top: 5rem;
}

.texto2{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 5rem;
    top: 25rem;
}

.billie1{
    position: fixed;
    width: 15rem;
    height: 15rem;
    left: 2rem;
    top: 4rem;

}
.billie2{
    position: fixed;
    width: 15rem;
    height: 15rem;
    left: 65rem;
    top: 23rem;
}


/* Rodapé*/

footer{
    background-color: #F5E8D3;
    height: 3rem;
    position: fixed;
    bottom: 0%;
    width: 10rem;
}
footer img {
    height: 100%;
    padding: 0.3rem;
}
footer{

    position: fixed;
    width: 100%;
    height: 3rem;
    background: #F5E8D3;
}